<th:block th:fragment>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Search a car</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/CarsCSS/bootstrap-better-nav.css?h=41ce9e96774db4960aef7edf9fca45cc">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Bootstrap-Image-Uploader.css?h=406ba72429389f6080fdb666c60fb216">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Bootstrap-Spinner-Best-Preloader.css?h=a77ff7cc05c4404443b67548c86517c9">
    <link rel="stylesheet" href="/assets/css/CarsCSS/carDetails.css?h=35a63b025ef470ffeaf653f9e4bbce52">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Customizable-Carousel-swipe-enabled.css?h=b8503ec2a3138cc3963549c93dd599d0">
    <link rel="stylesheet" href="/assets/css/CarsCSS/dh-navbar-inverse.css?h=77c6990b70b99efecb1e77d69ef47b14">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Drag--Drop-Upload-Form.css?h=cd0ca0a17f4ef9a07e606ae120da01a9">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Drag-Drop-File-Input-Upload.css?h=ff27182496a726ff7d29f5ad440baca8">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Footer-Basic.css?h=679a9c5d5004cad474ab735080d889b2">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Footer-Clean-1.css?h=8f120d33c0bf092c48e3c98c6b1cd5d3">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Footer-Clean.css?h=a718caf9569f142e3357c22834e4471a">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Footer-Dark.css?h=a7fda31daafbebff5426ad6b08ced84e">
    <link rel="stylesheet" href="/assets/css/CarsCSS/geolocation.css?h=2565460d76d42c2b1f98b601e9e26e12">
    <link rel="stylesheet" href="/assets/css/CarsCSS/MUSA_carousel-extended-1.css?h=579af29723860d0427c821ee5098392e">
    <link rel="stylesheet" href="/assets/css/CarsCSS/MUSA_carousel-extended.css?h=579af29723860d0427c821ee5098392e">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Pretty-Footer.css?h=f0e7231c1ee6b880979fc6d7a90956cc">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Pretty-Registration-Form-1.css?h=74cbd162836abb1eda12ebcad200c88a">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Pretty-Registration-Form.css?h=1f3d2625099d87c08991518ce9f1c2f0">
    <link rel="stylesheet" href="/assets/css/CarsCSS/Registration-Form-with-Photo.css?h=0142ec41a7a5b99cfc045831ec7ae83c">
    <link rel="stylesheet" href="/assets/css/CarsCSS/styles.css?h=72f9c0c8a5d4466aa547432e1cbae4b2">
    <link rel="stylesheet" href="/assets/css/CarsCSS/uploadImg.compiled.css?h=ce6e137b7027389349c5f9a42b63815f">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/assets/css/Swipe-Slider-7.css?h=e1e006502b477d1fae53fab67653ae4e">
</th:block>