
<th:block th:fragment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/bs-init.js?h=98fdbbd86223499341d76166d015c405"></script>
    <script src="/assets/js/Customizable-Carousel-swipe-enabled.js?h=a334300ad5962c2ce05a0a0743f46a3d"></script>
    <script src="/assets/js/bootstrap-better-nav.js?h=883876c9d3329af8eed93605f6d0d544"></script>
    <script src="/assets/js/Bootstrap-Spinner-Best-Preloader.js?h=b2df49d866a964a4511647688b9f39c8"></script>
    <script src="/assets/js/MUSA_carousel-extended.js?h=3cc665fa994235502c2cb3ef7a81326b"></script>
    <script src="/assets/js/photoFadeBeauty.js?h=fc0897edf57f23879e0cb6f60828a241"></script>
    <script src="/assets/js/script.js?h=fb22fbfb7f531afbe3e88f6b49f4f54b"></script>
    <script src="/assets/js/Swipe-Slider-7.js?h=03dfe175abab87ac3ff87c02c60f2fa7"></script>
</th:block>